$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Colors
$black: #13183f;
$gradient-orange: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$gradient-lila: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
$pink: #F74780;

//Fonts
$sans-font: "Plus Jakarta Sans", sans-serif;
