$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$bigshoulder: 'Big Shoulders Display', sans-serif;
$outfit: 'Outfit', sans-serif;
//colors
$naranja: #D5966C;
$negro: #151515;
$gris: #444444;
$blanco: #FFFFFF;
$fondo: #FCFAF9;