html * {
    font-family: $sans-font;
}
body {
    width: 100%;
    .woman-tablet{
        display: none;
    }
    .woman-desktop{
        display: none;
    }
    @include breakpoint(tablet){
        .woman-tablet{
            display: block;
            position: absolute;  
            right: 0px;
        }
    }
    @include breakpoint(tablethorizontal){
        .woman-tablet{
            display: block;
            position: absolute;
            width: 400px;
            top:-40px;
        }
    }
    @include breakpoint(desktopxl){
        .woman-tablet{
            display: none;
        }
        .woman-desktop{
            display: block;
            position: absolute;
            width: 550px;
            top:-40px;
            right: 0px;
        }
    }
    header,.hero{
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        @include breakpoint(tablet){
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 24px;
        }
        @include breakpoint(desktop){
            padding-left: 165px;
            padding-right: 165px;
            padding-top: 30px;
        }
    }
    main{
        padding-bottom: 36px;
        padding-left: 16px;
        padding-right: 16px;
        @include breakpoint(tablet){
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 86px;
        }
        @include breakpoint(desktop) {
            padding-left: 165px;
            padding-right: 165px;
            padding-bottom: 140px;
        }
    }
} 